/*Loading modal*/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../assets/loading.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/*Site Styles*/
#map{
    height: 500px;
    width: 1000px;
}

.hidden {
    display: none;
}

/*Input Form Modal*/
#point_modal {
    display:    none;
    position:   absolute;
    z-index:    1000;
    height:     100%;
    width:      100%;
    top: 0;
    left: 0;
    background: rgba( 255, 255, 255, .8 ) 50% 50% no-repeat;
}
#point_modal.open{
    display: block;
}
#point_data {
    background: white 100%;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 15%;
    border: 1pt black solid;
    border-radius: 25px;
}

/*Override ESRI CSS*/
.esri-legend__service {
    padding: 0 15px 0 15px;
}
.esri-ui-corner .esri-legend{
    padding: 0;
    min-width: 0;
}